* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

.header {
    display: grid;
    background-color: #ffffff;
    grid-column: 2 / 3;
    padding-left: 40px;
    padding-top: 20px;
}

.header-top {
    padding-top: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 7fr 3fr;
    height: 50px;
}

.header-top form {
    display: grid;
    grid-template-columns: .5fr 8fr;
    align-items: center;
    gap: 5px;
}

.header-top form input {
    height: 35px;
    align-self: start;
    border-radius: 25px;
    border: none;
    background-color: lightgray;
    padding-left: .5rem;
}

.not-bar {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    gap: 25px;
}

#search-button,
#not-button,
#pro-button {
    background-color: rgba(0, 0, 0, 0);
    height: 35px;
    width: 35px;
    border: none;
}

#pro-button svg {
    border-radius: 100%;
}

#search-button {
    justify-self: end;
}

#search-button svg,
#not-button svg {
    height: 35px;
    width: 35px;
}

#profile-img svg {
    height: 55px;
    width: 55px;
    margin-left: 30px;
    border-radius: 50%;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.welcome-msg {
    display: grid;
}

.sidebar {
    display: grid;
    grid-template-rows: .75fr 2fr 2fr;
    background-color: #1d97d7;
    color: white;
    grid-row: 1 / 3;
}

.logo {
    display: grid;
    font-size: 2.5rem;
    grid-row: 1 / 2;
    justify-content: center;
    align-items: center;
}

.navigation,
.help {
    display: grid;
    font-size: 1.5rem;
    padding-left: 1rem;
}

ul {
    list-style: none;
}

li {
    height: 50px;
}

.main-content {
    background-color: #e4e9f1;
    grid-column: 2 / 3;
}